@page "/counter"
@inject HttpClient Http

<h1>Create new player</h1>

<div class="form-group">
    <label>
        Player:
        <input @bind="player" />
    </label>
    <br />
    <label>
        Team:
        <input @bind="team" />
    </label>
</div>

<button class="btn btn-primary" @onclick="CreateUser" disabled=@buttonDisabled>Create</button>

@code {
    private string _player;
    public string player
    {
        get { return _player; }
        set
        {
            _player = value;
            CheckChanged();
        }
    }

    private string _team;
    public string team
    {
        get { return _team; }
        set
        {
            _team = value;
            CheckChanged();
        }
    }
    public bool buttonDisabled = true;

    private void CheckChanged()
    {
        if (player != null && team!=null && player.Length > 0 && team.Length > 0)
            buttonDisabled = false;
        else buttonDisabled = true;
    }


    private void CreateUser()
    {
    }
}
