@page "/"
@using Microsoft.AspNetCore.SignalR.Client
@inject NavigationManager NavigationManager
@inject HttpClient Http
@implements IAsyncDisposable

@*<button @onclick="Send" disabled="@(!IsConnected)">Send</button>*@

<hr>
@count

<table class="table">
    <thead>
        <tr>
            <th>Player</th>
            <th>Team</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var playerKey in players.Keys)
        {
            <tr>
                <td>@playerKey</td>
                <td>@players[playerKey]</td>
            </tr>
        }
    </tbody>
</table>

@code {
    private HubConnection timeHubConnection;
    private List<string> messages = new List<string>();
    private string userInput;
    private string messageInput;
    private string count = "";

    private Dictionary<string, string> players = new Dictionary<string, string>();

    protected override async Task OnInitializedAsync()
    {
        timeHubConnection = new HubConnectionBuilder()
            .WithUrl(NavigationManager.ToAbsoluteUri("/timehub"))
            .Build();

        timeHubConnection.On<int>("ReceiveMessage", (cnt) =>
        {
            string encodedMsg = $"time: {cnt}";
            count = encodedMsg;
            StateHasChanged();
        });

        await timeHubConnection.StartAsync();

        players = await Http.GetFromJsonAsync<Dictionary<string, string>>("GetUsers");
    }

    public bool IsConnected =>
        timeHubConnection.State == HubConnectionState.Connected;

    public async ValueTask DisposeAsync()
    {
        await timeHubConnection.DisposeAsync();
    }
}