@page "/"
@using Microsoft.AspNetCore.SignalR.Client
@using BlazorSignalRApp.Shared
@inject NavigationManager NavigationManager
@inject HttpClient Http


<button @onclick="StartGame">Start game</button>

<hr>
@currentPlayer, @currentTask.Team

<table class="table">
    <thead>
        <tr>
            <th>Player</th>
            <th>Team</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var playerKey in players.Keys)
        {
            <tr>
                <td>@playerKey</td>
                <td>@players[playerKey]</td>
            </tr>
        }
    </tbody>
</table>

@code {
    private Dictionary<string, string> players = new Dictionary<string, string>();
    private string currentPlayer = "";
    private SpielTask currentTask = new SpielTask();

    protected override async Task OnInitializedAsync()
    {
        players = await Http.GetFromJsonAsync<Dictionary<string, string>>("Api/GetUsers");
    }

    private async void StartGame()
    {
        await Http.GetFromJsonAsync<bool>("Api/Timer/Reset");
        currentPlayer = await Http.GetStringAsync("Api/NextPlayer");
        currentTask = await Http.GetFromJsonAsync<SpielTask>("Api/NextTask");
        StateHasChanged();
    }
}