@inherits LayoutComponentBase
@using Microsoft.AspNetCore.SignalR.Client
@inject NavigationManager NavigationManager
@implements IAsyncDisposable

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        <div class="top-row px-4">
            @count
        </div>

        <div class="content px-4">
            @Body
        </div>
    </div>
</div>

@code {
    private HubConnection timeHubConnection;
    private string count = "";

    protected override async Task OnInitializedAsync()
    {
        timeHubConnection = new HubConnectionBuilder()
            .WithUrl(NavigationManager.ToAbsoluteUri("/timehub"))
            .Build();

        timeHubConnection.On<int>("ReceiveMessage", (cnt) =>
            {
                string encodedMsg = $"time: {cnt}";
                count = encodedMsg;
                StateHasChanged();
            });

        await timeHubConnection.StartAsync();
    }

    public async ValueTask DisposeAsync()
    {
        await timeHubConnection.DisposeAsync();
    }
}