@inherits LayoutComponentBase
@using Microsoft.AspNetCore.SignalR.Client
@inject NavigationManager NavigationManager
@implements IAsyncDisposable

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main" >
        <div class="top-row px-4"  style="background-color:@bgcolor">
            @count
        </div>

        <div class="content px-4">
            @Body
        </div>
    </div>
</div>

@code {
    private HubConnection timeHubConnection;
    private string count = "";
    private string bgcolor = "lightgreen";

    protected override async Task OnInitializedAsync()
    {
        timeHubConnection = new HubConnectionBuilder()
            .WithUrl(NavigationManager.ToAbsoluteUri("/timehub"))
            .Build();

        timeHubConnection.On<int>("ReceiveMessage", (cnt) =>
        {
            string encodedMsg = $"time: {cnt}";
            count = encodedMsg;
            if (cnt > 60)
                bgcolor = "red";
            else bgcolor = "lightgreen";
            StateHasChanged();
        });

        await timeHubConnection.StartAsync();
    }

    public async ValueTask DisposeAsync()
    {
        await timeHubConnection.DisposeAsync();
    }
}